body{
    font-family:Arial, Helvetica, sans-serif, 'helvetica neue';
    background-color:grey;
 }

 .noPadding{
     padding:0;
     margin:0;
 }

 #Header a:hover{
     color: whitesmoke;
 }

 #bg-img{
    background-image: url("../images/connectwork.png");
    min-height: 500px;

 }

 .btnImageSize{
    height: 200px;
    width: 200px;
}
.imgIconSize{
    height:25px;
    width:25x;
}

i{
    color:whitesmoke;
}

li {
   list-style-type: none;
}

.hideOverflow{
   overflow: hidden;
}

#About{
    margin-top: -200px;
}

#About span{
    padding: 10px 20px 10px 20px;
}
#About hr{
    border-width: 2px;
    margin-top:06px;
}

#Skills span{
    padding: 10px 20px 10px 20px;
}

#Skills hr{
    border-width: 2px;
    margin-top:06px;
}





 /*@media (max-width:1920px){
    .navStyleLeft{
        display:flex;
        float: left;
       
    }
    .navStyleRight{
        display:flex;
        float:right;
        
    }
        }

    @media (max-width:768px){
        .navStyleLeft{
            display:flex;
            float: left;
            
        }
        .navStyleRight{
            display:flex;
            float:right;
            
        }
            }
        

 @media (max-width:640px){
    .navStyleLeft{
        justify-content: center;
        display: flex;
        float: none;
    }
    
    .navStyleRight{
        justify-content: center;
        display: flex;
        float: none;
    }
     }
     */